.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.title {
  font-family: "KyoboHandwriting2021sjy";
  margin-bottom: 4rem;
  letter-spacing: 1rem;
  font-size: 2rem;
  color: var(--color-text);
  margin-bottom: 5rem;
}

.tag {
  padding-left: 5px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.tag_link {
  margin-left: 0.5rem;
  right: 0;
}

.map {
  width: 90%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid var(--color-orange);
}

.location_name {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mapinfo {
  display: flex;
  align-items: center;
}

.address {
  font-size: 1.2rem;
  margin-right: 40px;
}

.navermap_icon {
  height: 30px;
  border-radius: 20%;
  margin: 0 5px;
}

.kakaomap_icon {
  height: 30px;
  border-radius: 20%;
  margin: 0 5px;
}
